// se da bloques de codigo para luego ser reutilizado en style sass y compactar el codigo

@mixin body-style {
  background-image: url("../img/pexels-tranmautritam-245032.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

@mixin foto-perfil-properties {
  border-radius: 50%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

@mixin menu-properties {
  display: flex;
  justify-content: center;
  align-content: center;

  .menu-opcion {
    margin-left: 1%;
    list-style: none;
    text-decoration: none;

    a {
      text-decoration: none;
      color: none;
    }
  }
}
@mixin link-visited-properties {
  color: $black-color;
}

@mixin info-basica-properties {
  text-align: justify;
  width: 95%;
  padding: 1%;

  p::first-line {
    font-weight: bold;
    color: $firstline-color;
  }
}

@mixin pie-pagina-properties {
  display: flex;
  justify-content: space-around;
  align-content: center;
  list-style: none;
  text-decoration: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $background-color-piepagina;
  padding: 1%;

  .info-pie-pagina {
    text-decoration: none;
    color: none;
    text-align: space;
    margin-left: 1%;
    margin-top: 10px;

    a {
      text-decoration: none;
      color: none;
    }
  }

 
  /* Estilos para teléfonos */
@media (min-width: 375px) and (max-width: 778px) {
  .pie-pagina-properties {
    justify-content: space-around;
    align-content: center;
    list-style: none;
    text-decoration: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: $background-color-piepagina;
    padding: 1%;
  }

  .info-pie-pagina {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50%;
    text-decoration: none;
    text-align: initial;
    margin-left: 1%;
    margin-top: 10px;
    font-size: 0.625rem; /* Ajusta el tamaño de fuente según tus necesidades */

    a {
      text-decoration: none;
      color: inherit;
    }
  }
}

}

@mixin imagenen-logo-corporativo-properties {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .empresas {
    width: 18.75rem;
    height: 18.75rem;
    margin: 1rem;
  }
}

@mixin imagenen-logo-estudios-properties {
  display: flex;

  @media (min-width: 600px) and (max-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 375px) and (max-width: 778px){
    display: flex;
    flex-direction: column;
    font-size: 0.625rem; /* Ajusta el tamaño de fuente según tus necesidades */
    align-items: center;
    row-gap: 2rem;
  }

}

@mixin empresas-properties {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px; // Espacio entre las imágenes
  width: 100%; // Establece el ancho al 100% del contenedor
  max-width: 800px; // Establece un ancho máximo para la imagen
  height: auto; // Mantiene la proporción original de la imagen
  border: 2px solid #333; // Añade un borde a la imagen
  margin: 20px; // Agrega márgenes alrededor de la imagen
}

@mixin navbar-empresas-properties {
  padding-top: 9%;
}

@mixin titulo-mis-experiencias-profesionales-properties {
  position: relative;
  transform: translateX(30%);
 
}

@mixin experiencia-texto-properties {
  text-align: justify;
  width: 95%;
  padding-left: 1%;
}

@mixin Mis-Titulos-Obtenidos-properties {
  position: relative;
  transform: translateX(40%);

}

@mixin Titulo-Evidencias-properties {
  position: relative;
  transform: translateX(45%);
}

@mixin card-properties {
  background-color: transparent;
}

@mixin imagenen-logo-github-properties {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  @media (min-width: 375px) and (max-width: 778px) {
    display: flex;
    flex-direction: column;
    .github {
      width: 300px;
      height: 200px;
      margin: 10px;
      size: 100%;
    }
    .github-link {
      text-align: center; /* Centrar horizontalmente */
      justify-content: center; /* Centrar verticalmente */
      align-items: center; /* Centrar verticalmente */
    }
  }

  .imagenen-logo-github {
    text-align: center; /* Centrar horizontalmente */
    display: flex;
    justify-content: center; /* Centrar verticalmente */
    align-items: center; /* Centrar verticalmente */
    height: 100vh; /* Altura de la ventana visible */
  }
  .github-link {
    text-align: center; /* Centrar horizontalmente */
    justify-content: center; /* Centrar verticalmente */
    align-items: center; /* Centrar verticalmente */
  }

 
}

@mixin imagen-freetime-properties {
  .imagenen-freetime {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .freetime-actividad {
    width: calc(
      24% - 1%
    ); /* Establece el ancho en un 25% del contenedor y resta un margen */
    height: 200px; /* Mantiene la relación de aspecto original */
    margin: 10px;
  }

  @media (min-width: 500px) and (max-width: 778px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    .freetime-actividad {
      width: calc(
        24% - 1%
      ); /* Establece el ancho en un 25% del contenedor y resta un margen */
      height: 80%; /* Mantiene la relación de aspecto original */
      margin: 10px;
    }
  }

  .hobbie-texto {
    text-align: justify;
    width: 100%; /* Ocupa todo el ancho disponible */
    height: auto;
    padding-left: 1%;
  }
}

@mixin properties-responsives-600-to-768 {
  .info-basica {
    color: $texto-blue;
    text-align: justify;
    width: 95%;
    padding: 1%;
    position: relative;
    transform: translateY(-40%);

    p::first-line {
      font-weight: bold;
      color: $color-min-p-firstline-response;
    }
  }

  .foto-perfil {
    transform: translateX(-50%);
    transform: translateY(-70%);
  }

  .menu {
    flex-direction: column;
    padding-top: 2%;
  }
}
