//se asignan variables globales 
$texto-blue: blue; 
$black-color: black;
$firstline-color:  rgba(14, 128, 221, 0.834);
$background-color-piepagina:#f0f0f0;
$color-min-p-firstline-response: cadetblue;